<!-- Inner Page Banner Area Start Here -->
<section class="inner-page-banner bg-common">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="breadcrumbs-area">
          <h1>{{title}}</h1>
          <ul>
            <li>
              <a routerLink="/home">Тренды</a>
            </li>
            <li *ngFor="let link of links">
              <a routerLink="{{link.link}}">{{link.value}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Inner Page Banner Area End Here -->