<!-- Header Area Start Here -->
<header class="header-one">
    <div id="header-main-menu" class="header-main-menu header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-3 col-sm-4 col-4 position-static">
                    <div class="site-logo-mobile">
                        <a routerLink="/home" routerLinkActive="active" class="sticky-logo-light">
                            <img src="../../../assets/img/inbarLogoLight.png" alt="Site Logo">
                        </a>
                        <a routerLink="/home" routerLinkActive="active" class="sticky-logo-dark">
                            <img src="../../../assets/img/inbarLogoDark.png" alt="Site Logo">
                        </a>
                    </div>
                    <nav class="site-nav">
                        <ul id="site-menu" class="site-menu">
                            <li>
                                <a routerLink="/home">Тренды</a>
                            </li>
                            <li>
                                <a routerLink="/ingredient-types">Ингредиенты</a>
                            </li>
                            <li>
                                <a routerLink="/recipes">Коктейли</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-4 col-md-9 col-sm-8 col-8 position-static">
                    <nav class="site-nav-action">
                        <ul *ngIf="isAuthenticated()" class="site-menu-action">
                            <li>
                                <button type="button" class="action-btn" routerLink="/profile">
                                    <i class="flaticon-profile"></i>Профиль
                                </button>
                                <ul class="dropdown-menu-col-1">
                                    <li>
                                        <a routerLink="/create/ingredient">Добавить ингредиент</a>
                                    </li>
                                    <li>
                                        <a routerLink="/create/cocktail">Добавить коктейль</a>
                                    </li>
                                    <li>
                                        <a routerLink="/home" (click)="logOut()">Выйти</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul *ngIf="!isAuthenticated()" class="site-menu-action">
                            <li>
                                <button type="button" class="action-btn" data-toggle="modal" data-target="#myModal">
                                    <i class="flaticon-profile"></i>Войти
                                </button>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom d-none d-lg-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 d-none d-lg-block">
                    <div class="site-logo-desktop">
                        <a routerLink="/home" class="main-logo">
                            <img src="../../../assets/img/inbarLogoDark.png" alt="Site Logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Area End Here -->
<!-- Modal Start-->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="title-default-bold mb-none">INBAR</div>
                <button #closeModal type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="information-message mb-4">
                    Авторизируйтесь, для того чтобы получить дополнительные возможности
                </div>
                <form class="login-form" (ngSubmit)="onSignIn()">
                    <input class="main-input-box" type="text" placeholder="E-mail" [(ngModel)]="email" name="email"/>
                    <input class="main-input-box" type="password" placeholder="Пароль" [(ngModel)]="password"
                           name="password"/>
                    <div *ngIf="isError" class="error-message mb-4">{{errorMessage}}</div>
                    <div class="inline-box mb-4">
                        <button class="btn-fill" type="submit" value="Login">Войти</button>
                        <a routerLink="/registration" class="btn-register" data-dismiss="modal">
                            <i class="fas fa-user"></i>Зарегистрироваться
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal End-->