<app-inner-page-banner [title]="'Модерация ингредиентов'"></app-inner-page-banner>
<section class="padding-top-18 padding-bottom-18">
    <div class="container">
        <p-table #table
                 [value]="ingredients"
                 [rows]="10"
                 [lazy]="true"
                 (onLazyLoad)="loadData($event)"
                 [loading]="loading"
                 [paginator]="true"
                 [totalRecords]="totalRecords"
                 [rowsPerPageOptions]="[10, 25, 50]"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th>Название</th>
                    <th>Дата создания</th>
                    <th>Статус</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-ingredient>
                <tr>
                    <td>
                        <a routerLink="./{{ ingredient.id }}">{{ ingredient.name }}</a>
                    </td>
                    <td>{{ ingredient.name }}</td>
                    <td>{{ ingredient.createdTs | date:'dd.MM.yyyy HH:mm:ss'}}</td>
                    <td>{{ getStatusValue(ingredient.status) }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</section>
