<!-- Recipe Start Here -->
<section class="padding-bottom-18" *ngIf="frequentlyLikedCocktails.length > 0">
    <div class="container">
        <div class="section-heading heading-dark">
            <h2 class="item-heading">Часто сохраняемые коктейли</h2>
        </div>
        <app-cocktail-list [cocktails]="frequentlyLikedCocktails"></app-cocktail-list>
    </div>
</section>
<!-- Recipe End Here -->
<!-- Trending Recipe Start Here -->
<section class="padding-bottom-18">
    <div class="container">
        <div class="section-heading heading-dark">
            <h2 class="item-heading">Популярные коктейли</h2>
        </div>
        <app-cocktail-list [cocktails]="mostRatedCocktails"></app-cocktail-list>
    </div>
</section>
<!-- Trending Recipe End Here -->
