input[type=file] {
    display: none;
}

::ng-deep .p-dropdown {
    width: 350px;
    border-radius: 0 !important;
}

::ng-deep .p-dropdown:hover {
    border-color: #ff4a52 !important;
}

::ng-deep .p-dropdown:not(.p-disabled).p-focus {
    border-color: #ff4a52 !important;
    box-shadow: 0 0 0 0.2rem #ff4A5233;
}

::ng-deep .p-dropdown-panel {
    border-radius: 0 !important;
}

::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    background-color: #ff4A5233;
    color: #ff4a52;
}

.create-ingredient-form label {
    font-size: 20px;
    color: #111111;
    font-weight: 500;
}

.create-ingredient-form .form-group {
    margin-bottom: 20px;
}

.create-ingredient-form .form-group .dropdown-group {
    margin-bottom: 20px;
}

.create-ingredient-form .form-group input {
    height: 50px;
}

.create-ingredient-form .form-group .form-control {
    font-size: 17px;
    padding: 10px 20px;
    color: #000000;
    border: 1px solid #cccccc;
    background-color: transparent;
    border-radius: 0;
}

.create-ingredient-form .form-group .form-control:focus {
    outline: none;
    box-shadow: none;
}

.create-ingredient-form .form-group .note-toolbar {
    background-color: #f6f6f6;
    position: relative !important;
}

.create-ingredient-form .form-group .note-toolbar .note-btn-group {
    margin-right: 10px;
}

.create-ingredient-form .form-group .note-toolbar .note-btn-group .note-btn {
    background-color: transparent;
    font-size: 14px;
}

.create-ingredient-form .form-group .note-editor.note-frame .note-statusbar {
    border-top: 0;
}

.create-ingredient-form .form-group .note-editor.note-frame .note-statusbar .note-resizebar .note-icon-bar {
    display: none;
}

.create-ingredient-form .form-group .note-editor.note-frame .note-statusbar .note-resizebar {
    display: none;
}

.create-ingredient-form .form-group .note-editor.note-frame {
    border: 1px solid #cccccc;
}

.create-ingredient-form .form-group .note-popover .popover-content,
.create-ingredient-form .form-group .panel-heading.note-toolbar {
    padding: 5px 5px 10px;
}

.create-ingredient-form .form-group .note-toolbar .note-btn-group .note-btn .note-icon-caret:before {
    display: none;
}

.create-ingredient-form .form-group .note-toolbar .note-btn-group .note-btn:focus {
    outline: none;
    box-shadow: none;
}

.create-ingredient-form .upload-img li {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 5px;
}

.create-ingredient-form .additional-input-wrap {
    margin-bottom: 30px;
}

.create-ingredient-form .additional-input-box {
    margin-bottom: 5px;
    padding: 15px;
    background-color: #eeeeee;
    display: flex;
    align-items: center;
}

.create-ingredient-form .additional-input-box i {
    color: #989898;
    font-size: 20px;
    width: 35px;
}

.create-ingredient-form .additional-input-box .form-control {
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
    height: 40px;
    padding: 10px 15px;
}

.create-ingredient-form .additional-input-box.icon-left i {
    margin-right: 10px;
}

.create-ingredient-form .additional-input-box.icon-right i {
    margin-left: 10px;
    background-color: #ffffff;
    padding: 13px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.create-ingredient-form .additional-input-box.icon-right i:hover {
    background-color: #ff4a52;
    color: #ffffff;
}

.create-ingredient-form .btn-upload {
    margin-top: 10px;
    padding: 15px 30px 10px;
    background-color: #646464;
    border-radius: 0;
    border: none;
    color: #ffffff;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: none;
    transition: all 0.3s ease-out;
}

.create-ingredient-form .btn-upload i {
    margin-right: 10px;
    margin-top: -3px;
}

.create-ingredient-form .btn-upload:focus {
    outline: none;
}

.create-ingredient-form .btn-upload:hover {
    background-color: #e92731;
}

.create-ingredient-form .btn-submit {
    padding: 15px 30px 12px;
    background-color: #ff4a52;
    border-radius: 0;
    border: none;
    color: #ffffff;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 3rem;
    cursor: pointer;
    box-shadow: none;
    transition: all 0.3s ease-out;
}

.create-ingredient-form .btn-submit:focus {
    outline: none;
}

.create-ingredient-form .btn-submit:hover {
    background-color: #e92731;
}