<app-inner-page-banner [title]="'Регистрация'"></app-inner-page-banner>
<!-- Registration Area Start Here -->
<section class="login-page-wrap padding-top-80 padding-bottom-50">
    <div class="container">
        <div class="row gutters-60">
            <div class="col-lg-12">
                <div class="login-box-layout1">
                    <div class="section-heading heading-dark">
                        <h2 class="item-heading">ФОРМА РЕГИСТРАЦИИ</h2>
                    </div>
                    <form class="login-form" [formGroup]="form">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <p-toggleButton formControlName="professional"
                                                onLabel="Профессионал"
                                                offLabel="Любитель">
                                </p-toggleButton>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="mb-3">Имя</label>
                                <input class="main-input-box" type="text" formControlName="firstname" name="firstname"/>
                                <div class="error-message" *ngIf="form.controls['firstname'].invalid && submit">
                                    Имя некорректное
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="mb-3">Фамилия</label>
                                <input class="main-input-box" type="text" formControlName="lastname" name="lastname"/>
                                <div class="error-message" *ngIf="form.controls['lastname'].invalid && submit">
                                    Фамилия некорректная
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="mb-3">E-mail</label>
                                <input class="main-input-box" type="text" formControlName="email" name="email"/>
                                <div class="error-message" *ngIf="form.controls['email'].invalid && submit">
                                    E-mail некорректный
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="mb-3">Пароль</label>
                                <input class="main-input-box" type="password" formControlName="password"
                                       name="password"/>
                                <div class="error-message" *ngIf="form.controls['password'].invalid && submit">
                                    Пароль некорректный
                                </div>
                            </div>
                        </div>
                        <div class="error-message mb-3" *ngIf="errorMessage !== null && submit">
                            {{errorMessage}}
                        </div>
                        <div class="btn-area">
                            <button class="btn-fill btn-primary" type="submit" value="Registration"
                                    (click)="onRegister()">
                                Зарегистрироваться<i class="flaticon-next"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Registration Area End Here -->
