<app-inner-page-banner [title]="'Коктейль'"></app-inner-page-banner>
<!-- Single Recipe Area Start Here -->
<section class="single-recipe-main-banner">
    <div class="rc-carousel nav-control-layout4">
        <div class="item-figure">
            <!--  1920 624    -->
            <div class="img-container">
                <img src="{{getImageUrl()}}" alt="Banner">
            </div>
        </div>
    </div>
</section>
<!-- Single Recipe Main Banner Area End Here -->
<!-- Single Recipe Without Sidebar Area Start Here -->
<section class="single-recipe-wrap-layout2 padding-bottom-80">
    <div class="container">
        <div class="single-recipe-layout2">
            <div class="ctg-name">{{getCocktailGroup()}}</div>
            <h2 class="item-title">{{cocktailInfo.name}}</h2>
            <div class="d-flex align-items-center justify-content-between flex-wrap mb-5">
                <ul class="entry-meta">
                    <li class="single-meta">
                        <i class="far fa-calendar-alt"></i>
                        {{cocktailInfo.modifiedTs | date:'dd.MM.yyyy HH:mm:ss'}}
                    </li>
                    <li class="single-meta" *ngIf="cocktailInfo.author">
                        <a routerLink="/bartenders/{{cocktailInfo.author.email}}">
                            <i class="fas fa-user"></i>
                            <span>{{cocktailInfo.author.firstname}} {{cocktailInfo.author.lastname}}</span>
                        </a>
                    </li>
                    <li class="single-meta">
                        <ul class="item-rating">
                            <li [ngClass]="{'star-fill': cocktailInfo.averageRating > 0, 'star-empty': cocktailInfo.averageRating < 1}">
                                <i class="fas fa-star"></i>
                            </li>
                            <li [ngClass]="{'star-fill': cocktailInfo.averageRating > 1, 'star-empty': cocktailInfo.averageRating < 2}">
                                <i class="fas fa-star"></i>
                            </li>
                            <li [ngClass]="{'star-fill': cocktailInfo.averageRating > 2, 'star-empty': cocktailInfo.averageRating < 3}">
                                <i class="fas fa-star"></i>
                            </li>
                            <li [ngClass]="{'star-fill': cocktailInfo.averageRating > 3, 'star-empty': cocktailInfo.averageRating < 4}">
                                <i class="fas fa-star"></i>
                            </li>
                            <li [ngClass]="{'star-fill': cocktailInfo.averageRating > 4, 'star-empty': cocktailInfo.averageRating < 5}">
                                <i class="fas fa-star"></i>
                            </li>
                            <li><span>{{cocktailInfo.averageRating}}<span> / 5</span></span></li>
                        </ul>
                    </li>
                    <li class="single-meta" (click)="likeCocktail()">
                        <i class="fas fa-heart"></i>
                        <span>{{cocktailInfo.likesAmount}}</span>
                    </li>
                </ul>
            </div>
            <div class="section-heading3 heading-dark">
                <h2 class="item-heading">Рецепт коктейля</h2>
            </div>
            <pre class="item-description">{{cocktailInfo.cookingSteps}}</pre>
            <div class="making-elements-wrap mb-4">
                <div class="row">
                    <div class="col-xl-6 col-12">
                        <div class="nutrition-wrap grey">
                            <h3 class="item-title">
                                <i class="fas fa-list-ul"></i>Ингредиенты
                            </h3>
                            <ul class="nutrition-list">
                                <li *ngFor="let ingredient of ingredients">
                                    <div class="nutrition-name">
                                        <a routerLink="/ingredients/{{ingredient.ingredient.id}}">
                                            <span>{{ingredient.ingredient.name}}</span>
                                        </a>
                                    </div>
                                    <div class="nutrition-value">{{ingredient.value}}{{ingredient.measure.name}}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-12">
                        <div class="nutrition-wrap pink">
                            <h3 class="item-title">
                                <i class="fas fa-info"></i>Необходимые предметы
                            </h3>
                            <ul class="nutrition-list">
                                <li *ngFor="let instrument of instruments">
                                    <div class="nutrition-name">
                                        <a routerLink="/ingredients/{{instrument.ingredient.id}}">
                                            <span>{{instrument.ingredient.name}}</span>
                                        </a>
                                    </div>
                                    <div class="nutrition-value">{{instrument.value}}{{instrument.measure.name}}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-heading3 heading-dark">
                <h2 class="item-heading">Что рассказать гостю о коктейле?</h2>
            </div>
            <p class="item-description">{{cocktailInfo.aboutCocktail}}</p>
            <div class="recipe-reviews">
                <div class="section-heading3 heading-dark">
                    <h2 class="item-heading">КОММЕНТАРИИ</h2>
                </div>
                <div class="avarage-rating-wrap">
                    <div class="avarage-rating">Средний рейтинг:
                        <span class="rating-icon-wrap">
                                    <i class="fas fa-star"
                                       [ngClass]="{'star-fill': cocktailInfo.averageRating > 0, 'star-empty': cocktailInfo.averageRating < 1}"></i>
                                    <i class="fas fa-star"
                                       [ngClass]="{'star-fill': cocktailInfo.averageRating > 1, 'star-empty': cocktailInfo.averageRating < 2}"></i>
                                    <i class="fas fa-star"
                                       [ngClass]="{'star-fill': cocktailInfo.averageRating > 2, 'star-empty': cocktailInfo.averageRating < 3}"></i>
                                    <i class="fas fa-star"
                                       [ngClass]="{'star-fill': cocktailInfo.averageRating > 3, 'star-empty': cocktailInfo.averageRating < 4}"></i>
                                    <i class="fas fa-star"
                                       [ngClass]="{'star-fill': cocktailInfo.averageRating > 4, 'star-empty': cocktailInfo.averageRating < 5}"></i>
                                </span>
                        <span class="rating-number">({{cocktailInfo.averageRating}})</span>
                    </div>
                    <div class="total-reviews">
                        Всего комментариев:<span class="review-number">({{cocktailInfo.comments.length}})</span>
                    </div>
                </div>
                <ul>
                    <li *ngFor="let comment of cocktailInfo.comments" class="reviews-single-item">
                        <div class="media media-none--xs">
                            <img src="{{getUserAvatarUrl(comment.author.avatarId)}}"
                                 alt="Comment"
                                 class="media-img-auto">
                            <div class="media-body">
                                <h4 class="comment-title">{{comment.author.firstname}} {{comment.author.lastname}}</h4>
                                <span class="post-date">{{comment.createdTs | date:'dd.MM.yyyy HH:mm:ss'}}</span>
                                <p>{{comment.message}}</p>
                                <ul class="item-rating">
                                    <li class="single-item"
                                        [ngClass]="{'star-fill': comment.rating > 0, 'star-empty': comment.rating < 1}">
                                        <i class="fas fa-star"></i>
                                    </li>
                                    <li class="single-item"
                                        [ngClass]="{'star-fill': comment.rating > 1, 'star-empty': comment.rating < 2}">
                                        <i class="fas fa-star"></i>
                                    </li>
                                    <li class="single-item"
                                        [ngClass]="{'star-fill': comment.rating > 2, 'star-empty': comment.rating < 3}">
                                        <i class="fas fa-star"></i>
                                    </li>
                                    <li class="single-item"
                                        [ngClass]="{'star-fill': comment.rating > 3, 'star-empty': comment.rating < 4}">
                                        <i class="fas fa-star"></i>
                                    </li>
                                    <li class="single-item"
                                        [ngClass]="{'star-fill': comment.rating > 4, 'star-empty': comment.rating < 5}">
                                        <i class="fas fa-star"></i>
                                    </li>
                                    <li class="single-item"><span>{{comment.rating}}<span> / 5</span></span></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="leave-review" *ngIf="canComment()">
                <form [formGroup]="form">
                    <div class="section-heading3 heading-dark">
                        <h2 class="item-heading">ОСТАВИТЬ КОММЕНТАРИЙ</h2>
                    </div>
                    <div class="rate-wrapper">
                        <div class="rate-label">Рейтинг:</div>
                        <div class="rate">
                            <p-rating formControlName="rating"></p-rating>
                        </div>
                    </div>
                    <div class="leave-form-box">
                        <div class="row">
                            <div class="col-12 form-group">
                                <label>Комментарий:</label>
                                <textarea placeholder=""
                                          class="textarea form-control"
                                          name="message" rows="7" cols="20"
                                          formControlName="message"></textarea>
                            </div>
                            <div class="error-message" *ngIf="form.controls['message'].invalid && submit">
                                Необходимо оставить хоть пару слов
                            </div>
                            <div class="col-12 form-group mb-0">
                                <button type="submit" class="item-btn" (click)="onComment()">ОСТАВИТЬ КОММЕНТАРИЙ
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Single Recipe Area End Here -->